body {
    background-color: #BFEDFF;
    margin: 0;
}
#Rainbow {
    height: 100%;
    opacity: 0.7;
    overflow: hidden;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 100%;
    z-index: -1;
}
#Rainbow .rainbow-color {
    height: 33.333333334%;
    margin-right: 20px;
    width: 100%;

}
#Rainbow #pink {
    background-color: #D60270;

}
#Rainbow #purple {
    background-color: #9B4F96;

}
#Rainbow #blue {
    background-color: #0038A8;

}
